{% extends "base-site.html" %}

{% block title %} UI Typography {% endblock %}

{% block content %}

    <div class="card">
        <div class="card-header card-header-primary">
          <h2 class="card-title">Statistics</h2>
        </div>
        <div class="card-body">
          <div id="typography">

            <script type='text/javascript' src='https://eu-west-1a.online.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 800px; height: 2000px;'><object class='tableauViz' width='800' height='2000' style='display:none;'><param name='host_url' value='https%3A%2F%2Feu-west-1a.online.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='&#47;t&#47;applieddatascience' /><param name='name' value='Teste7&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /></object></div>

            </div>
          </div>
        </div>
    </div>
 {% include 'site_template/scripts.html' %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
