<!DOCTYPE html>
<html>
<head>
<title>Upload</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>

<form  id="upload-form1" action="{{ url_for('upload_video') }}" method="POST" enctype="multipart/form-data">
    <strong>Upload Video:</strong><br>
    <input id="file-picker-video" type="file" name="video" accept="*">
    <div id="msg"></div>
    <input name = "video_form" type="submit" value="Upload Video" id="upload_video_button">
</form>

<form  id="upload-form2" action="{{ url_for('upload_video') }}" method="POST" enctype="multipart/form-data">
    <div id="msg">&nbsp</div>
    <strong>Upload Images:</strong><br>
    <input id="file-picker-images" type="file" name="images" accept="*" multiple>
    <div id="msg"></div>
    <input name = "images_form" type="submit" value="Upload Images" id="upload_images_button">
</form>


<form  id="upload-form3" action="{{ url_for('upload_video') }}" method="POST" enctype="multipart/form-data">
    <div id="msg">&nbsp</div>
    <strong>Models:</strong><br>
    <input name = "run_model" type="submit" value="Run model" id="run_model_button">
</form>

<form  id="upload-form4" action="{{ url_for('upload_video') }}" method="POST" enctype="multipart/form-data">
    <input name = "show_video" type="submit" value="Show video" id="show_video_button">
</form>



<div>

        Video:
        {% if videos %}
        <iframe width="1000" height="500" src={{videos}}>
          
        </iframe> 

        {% endif %}
    </div>
    
    

</body>

<script>

    $("#file-picker-video").change(function(){

        var input = document.getElementById('file-picker');

        for (var i=0; i<input.files.length; i++)
        {
        //koala.jpg, koala.JPG substring(index) lastIndexOf('a') koala.1.jpg
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()

            if ((ext == 'mp4') || (ext == 'avi'))
            {
                $("#msg").text("Files are supported")
            }
            else
            {
                $("#msg").text("Files are NOT supported")
                document.getElementById("file-picker").value ="";
            }

        }


    } );

</script>

<script>

    $("#file-picker-images").change(function(){

        var input = document.getElementById('file-picker');

        for (var i=0; i<input.files.length; i++)
        {
        //koala.jpg, koala.JPG substring(index) lastIndexOf('a') koala.1.jpg
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()

            if ((ext == 'jpg') || (ext == 'png'))
            {
                $("#msg").text("Files are supported")
            }
            else
            {
                $("#msg").text("Files are NOT supported")
                document.getElementById("file-picker").value ="";
            }

        }


    } );

</script>

</html>