

    <div class="sidebar" data-color="purple" data-background-color="black" data-image="/static/assets/img/sidebar-2.jpg">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo">
          <a href="https://github.com/jonnyteronni/Face_recognition_project" class="simple-text logo-normal">
            Github
          </a>
        </div>
        <div class="sidebar-wrapper">
          <ul class="nav">

            <li class="nav-item ">
              <a class="nav-link" href="/">
                <i class="material-icons">welcome</i>
                <p>Welcome</p>
              </a>
            </li>



            <li class="nav-item ">
              <a class="nav-link" href="/ui-upload_data">
                <i class="material-icons">content_paste</i>
                <p>Upload data</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/face_recognition">
                <i class="material-icons">library_books</i>
                <p>Face Recognition</p>
              </a>
            </li>


            <li class="nav-item ">
              <a class="nav-link" href="/ui-tables">
                <i class="material-icons">bubble_chart</i>
                <p>Raw Data</p>
              </a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="/stats">
                    <i class="material-icons">stats</i>
                    <p>Statistics</p>
                </a>
            </li>
            <!--
            <li class="nav-item ">
                <a class="nav-link" href="/page-user">
                    <i class="material-icons">person</i>
                    <p>User Profile</p>
                </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/page-map">
                <i class="material-icons">location_ons</i>
                <p>Maps</p>
              </a>
            </li>
            -->




          </ul>
        </div>
    </div>
